/node_modules/

# Ignore system files
.DS_Store
*.swp
*.bak
*.tmp

# Ignore logs and temporary files
*.log
*.out
*.o

# Ignore personal configuration files
*.env

# Ignore compiled bash files
*.sh~

# ==== Lua ====
*.luac
