[Desktop Entry]
Name=firefox
Comment=firefox
TryExec=/usr/bin/firefox
Exec=/usr/bin/firefox
Icon=
Terminal=false
StartupWMClass=
Type=Application
Categories=
MimeType=
Keywords=
Actions=
SingleMainWindow=
X-GNOME-UsesNotifications=
X-GNOME-SingleWindow=
Hidden=false
NoDisplay=false


