[Desktop Entry]
Name=Telegram
Comment=
Exec=/opt/telegram/Telegram/Telegram
Icon=
Terminal=false
StartupWMClass=
Type=Application
Categories=
MimeType=
Keywords=
Actions=
SingleMainWindow=
X-GNOME-UsesNotifications=
X-GNOME-SingleWindow=

